/* -------------------BASIC SETUP -------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    position: relative;
    color: black;
    font-family: 'Shippori Mincho', serif;
    overflow-x: hidden;
    font-size: 10px;
}


/* width */

 ::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    display: none;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(252, 185, 255);
}


/* -------------------SideNav -------------------*/

#sidenav {
    position: fixed;
    right: 6vw;
    top: 50vh;
    transform: translate(0, -50%);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.7);
}

#sidenav ul {
    list-style: none;
    cursor: pointer;
    margin: auto;
}

#sidenav li {
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    color: rgb(58, 58, 58);
    font-size: 1.1rem;
    line-height: 4vh;
}

#sidenav li:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    content: "";
    background-color: black;
    display: block;
    position: absolute;
    left: 10px;
}

#sidenav li:hover {
    color: red;
    text-decoration: none;
}

#sidenav li:hover:after {
    -webkit-transform: translate(0, -250%);
    transform: translate(0, -250%);
    border-color: transparent #000 #000 transparent;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
}


/*------------------- Logo -------------------*/

#logo {
    top: 7vh;
    left: 3vw;
    position: fixed;
    width: 10vw;
    z-index: 9999;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    text-align: center;
}

#logo h2 {
    width: 100%;
    font-size: 2rem;
}

#logo h6 {
    width: 100%;
    font-size: 1rem;
}


/*------------------- Header -------------------*/

#header {
    height: 35vh;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(88, 70, 255, 0.1)), url("../img/erc.jpg");
    background-size: 100%;
    background-position-y: 85%;
    background-position-x: -10%;
}

#header p {
    margin: auto;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 4vh;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}


/*------------------- Section -------------------*/

.section {
    width: 100%;
    margin: auto;
    height: fit-content;
    padding: 20vh 30vw 0 15vw;
    letter-spacing: 1px;
    margin-bottom: 5vh;
}

.section i {
    text-align: center;
    margin-right: 1vw;
    padding: 1% 0;
    font-size: 2rem;
}

.section p {
    position: relative;
    font-size: 1.9rem;
    font-weight: 500;
}

.section p::after {
    content: "";
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: -4.5vh;
    left: -5vw;
    background-color: rgba(29, 49, 86, 0.253);
    z-index: -1;
}


/*------------------- Scroll Menu -------------------*/

.scrollmenu {
    width: 70vw;
    margin: 3vh auto;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollmenu::-webkit-scrollbar {
    background-color: #F5F5F5;
}

.scrollmenu.gray::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.3);
    /* background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.25, rgb(25, 80, 77, 0.4)), color-stop(0.5, rgb(25, 80, 77, 0.6)), color-stop(0.75, rgb(25, 80, 77, 0.8))); */
}

.scrollmenu.gray {
    height:20vh
}

.scrollmenu.blue::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.25, rgb(123, 155, 218)), color-stop(0.5, rgb(81, 138, 207)), color-stop(0.75, rgb(91, 122, 214)));
}

.scrollmenu.orange::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.25, rgba(255, 166, 0, 0.4)), color-stop(0.5, rgba(255, 166, 0, 0.6)), color-stop(0.75, rgba(255, 166, 0, 0.8)));
}

.scrollmenu.yellow::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.25, rgba(255, 255, 0, 0.4)), color-stop(0.5, rgba(255, 255, 0, 0.6)), color-stop(0.75, rgba(255, 255, 0, 0.8)));
}

.article-wrapper {
    top: 0;
    height: 0;
    width: 13rem;
    padding-bottom: 13rem;
    display: inline-block;
    text-align: center;
    margin: 1.5vh 0.5vw 0 0.5vw;
    position: relative;
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px black;
}

.article-wrapper:hover {
    top: -10px;
}

.article-wrapper p {
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
    border-radius: 0 0 5px 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.article-wrapper:after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    color: transparent;
    height: 13rem;
    width: 13rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.75);

}

.article-wrapper.blue p {
    background-color: rgb(201, 226, 255);
}

.article-wrapper.orange p {
    background-color: rgb(229, 195, 155);
}

.article-wrapper.yellow p {
    background-color: rgb(255, 255, 187);
}

#biz {
    background-image: url("../img/articles/biz.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#com {
    background-image: url("../img/articles/com.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#eng {
    background-image: url("../img/articles/eng.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#fass {
    background-image: url("../img/articles/fass.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#sde {
    background-image: url("../img/articles/sde.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#med {
    background-image: url("../img/articles/med.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#law {
    background-image: url("../img/articles/law.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#sci {
    background-image: url("../img/articles/sci.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#online {
    background-image: url("../img/articles/online.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#residence {
    background-image: url("../img/articles/residence.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#facility {
    background-image: url("../img/articles/facility.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#matri {
    background-image: url("../img/articles/matri.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#ib {
    background-image: url("../img/articles/ib.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#non-ib {
    background-image: url("../img/articles/non-ib.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


/*------------------- Copyright -------------------*/

#copyright {
    height: 8vh;
    width: 40%;
    margin: auto;
    margin-top: 10vh;
    /* background-color: lightslategrey; */
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

#copyright .icons {
    width: 100%;
    padding: 0 17vw;
}

#copyright a {
    font-size: 1.67rem;
    margin: auto;
    text-decoration: none;
    color: rgb(109, 109, 109);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

#copyright a:hover {
    color: rgb(87, 87, 255);
}