/* BASIC SETUP */

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: white;
    color: black;
}


/* Intro */

#intro {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightblue;
}


/* Message */

#message {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: green;
}


/* Articles */

#articles {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightskyblue
}


/* Social Media */

#socialmedia {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: yellowgreen;
}


/* Members */

#members {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightgray;
}


/* Contact */

#contact {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightsalmon;
}


/* Copyright */

#copyright {
    height: 5vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightslategrey;
}