/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: white;
    color: black;
}


/* Intro */

#intro {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20%;
    background-color: lightblue;
}


/* Message */

#message {
    height: 100%;
    background-color: green;
}


/* Articles */

#articles {
    height: 100%;
    background-color: red;
}


/* Social Media */

#socialmedia {
    height: 100%;
    background-color: blue;
}


/* Member */

#member {
    height: 100%;
    background-color: lightgray;
}


/* Contact */

#contact {
    height: 100%;
    background-color: lightsalmon;
}