/* ----------------------------------------------- */


/* BIG DESKTOP */


/* ----------------------------------------------- */


/* @media only screen and (min-width: 1500px) {} */


/* ----------------------------------------------- */


/* DESKTOP */


/* ----------------------------------------------- */

@media only screen and (min-width: 1080px) and (max-width: 1499px) {}


/* ----------------------------------------------- */


/* TABLET LANDSCAPE */


/* ----------------------------------------------- */

@media only screen and (min-width: 769px) and (max-width: 1024px) {}


/* ----------------------------------------------- */


/* TABLET PORTRAIT */


/* ----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 769px) {
}


/* ----------------------------------------------- */


/* MOBILE PORTRAIT */


/* ----------------------------------------------- */

@media only screen and (min-width: 200px) and (max-width: 767px) {
    html,
    body {
        font-size: 10px;
    }
    /* width */
     ::-webkit-scrollbar {
        display: none;
    }
    /*------------------- SideNav -------------------*/
    #sidenav {
        display: none;
    }
    /*------------------- Logo -------------------*/
    #logo {
        display: none;
    }
    /*------------------- Intro -------------------*/
    #intro {
        height: 100vh;
        margin-left: 0;
        /* padding: 100vh 1vw inherit 1vw; */
        padding-top: 100vh;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: rgb(255, 255, 255);
        background-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255,0.3)), url("../img/nus-bg.jpg");
        background-size: 100%;
        background-position-y: 50%;
        background-position-x: 100%;
        background-repeat: repeat;
        position: relative;
    }
    #intro h3 {
        width: 100%;
        position: absolute;
        top: -100%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        color: black;
        padding: 5%;
        margin-top: 0;
        line-height: 5vh;
        font-weight: 500
    }
    #intro p {
        /* width: 100%; */
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 4vh;
        text-align: center;
        padding: 0 4vw;
    }
    /*------------------- Message -------------------*/

    #message {
        width: fit-content;
        height: 50vh;
        margin: auto;
        margin-top: 0;
        -ms-writing-mode: tb-lr;
        writing-mode: horizontal-tb;
        position: relative;
    }

    #message .img1 {
        position: absolute;
        top: -20vh;
        left: -30vw;
        width: 90%;
    }

    #message .img2 {
        position: absolute;
        top: 45vh;
        right: -20vw;
        width: 70%;
    }

    #message .text {
        background-color: white;
        z-index: 1;
        padding: 2.5vh 1vw;
        margin-left: 10vw;
    }

    #message p {
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.2rem;
    }

}